$primary-color: #ff5125;
$secondary-color: #343b57;
$tertiary-color: #c58f2a;
$black: #101010;
$black2: #232323;
$white: #ffffff;
$white2: #ebebeb;
$light-grey: #cfcfcf;
$dark-grey: #484848;
$red: #d81a1a;

$blue-gradient: linear-gradient(
   -45deg,
   rgba(37, 89, 255, 1) 0%,
   rgba(39, 68, 162, 1) 100%
);

$xxl: 5.1rem;
$xl: 3.8rem;
$l: 2.8rem;
$m: 2.1rem;
$s: 1.6rem;
$xs: 1.2rem;
